$colors: (
    sunny:(
        100: hsl(40, 80%, 75%),
        200: hsl(40, 80%, 70%),
        300: hsl(40, 80%, 65%),
        400: hsl(40, 75%, 60%),
        500: hsl(40, 70%, 50%)
    ),
    cloudy:(
        100: hsl(200, 6%, 85%),
        200: hsl(200, 6%, 75%),
        300: hsl(200, 6%, 65%),
        400: hsl(200, 3%, 60%),
        500: hsl(200, 3%, 50%)
    ),
    rainy:(
        100: hsl(210, 35%, 75%),
        200: hsl(210, 35%, 65%),
        300: hsl(210, 35%, 60%),
        400: hsl(210, 25%, 60%),
        500: hsl(210, 20%, 50%)
    ),
    neutral:(
        100: hsl(0, 0%, 100%),
        200: hsl(0, 0%, 85%),
        300: hsl(0, 0%, 75%),
        400: hsl(0, 0%, 60%),
        500: hsl(0, 0%, 50%),
        600: hsl(0, 0%, 40%),
        700: hsl(0, 0%, 25%),
        800: hsl(0, 0%, 15%),
        900: hsl(0, 0%, 0%),
    )
);

// foreach colors
@each $color, $shades in $colors {
    @each $shade, $value in $shades {
        .text-#{$color}-#{$shade} {
            color: #{$value};
        }

        .bg-#{$color}-#{$shade} {
            background-color: #{$value};
        }
    }
}