// font-size
$base-font-size: 1rem;

//  spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;
$base-gap: 1rem;

//  borders
$base-border-thickness: 0.1rem;
$base-border-radius: 2rem;

// box-shadow
$base-box-shadow: 0.6rem 0.8rem 0.6rem 0 hsla(0, 0%, 0%, 0.3);